.container{
    margin: 0 auto;
    max-width: 1280px;
}
.productList__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productList__col{
    width: 22.5%;
    padding: 1rem 1rem;
    height: 500px;
}
